<ion-modal-view title="Scheduel Meeting">
        <ion-content>

                        <div class="row">
                                        <div class="col">
                                            <h4 class="shz-popup-title">Schedule Meeting</h4>
                                        </div>
                                        <div class="col-right" style="text-align: center;">
                                            <button class="shz-popup-close" ng-click="closeModal_interactions()">X</button>
                                        </div>
                        </div>
                        <div class="shz-separator" ></div>

                <div>
                        <label for="date">Date</label>
                        <br>
                        <input type="text" placeholder="Add Description Here" ng-model="scheduleObj.description"/>
                        <select ng-model="scheduleObj.type">
                                <option value="audio">Audio Call</option>
                                <option value="video">Video Call</option>
                      </select>
                        <input id="date" type="date" min="{{date | date:'yyyy-MM-dd'}}"  ng-model="scheduleObj.date1"/>
                        <input id="starttime" type="time" ng-model="scheduleObj.stime" />
                        <input id="finishtime" type="time" ng-model="scheduleObj.ftime" />
                        <button class="button button-positive" ng-click="addschedules(mentee_id);closeModal_interactions()">Submit</button>
                    </div>
                    <!-- <button ng-click="closeModal_interactions()">close</button> -->
        </ion-content>
    </ion-modal-view>
