<ion-modal-view title="Scheduel Meeting">
        <ion-content>
                <div>
                        <label for="date">Date</label>
                        <br>
                        <input type="text" placeholder="Add Description Here" ng-model="scheduleObj.description"/>
                        <select ng-model="scheduleObj.type">
                                <option value="audio">Audio Call</option>
                                <option value="video">Video Call</option>
                      </select>
                        <input id="date" type="date"  ng-model="scheduleObj.date1"/>
                        <input id="starttime" type="time" ng-model="scheduleObj.stime" />
                        <input id="finishtime" type="time" ng-model="scheduleObj.ftime" />
                        <button ng-click="addschedules(mentee_id)">Submit</button>
                    </div>
                    <button ng-click="closeModal_interactions()">close</button>
        </ion-content>
    </ion-modal-view>
