<ion-modal-view>
    <ion-content>
            <label class="item item-input item-floating-label">
                    <input type="text" id="goal" placeholder="Add Goals Here" ng-model="goalsObj.new_goal">
                    <input type="file" id="inputFile" ng-model="goalsObj.img_base64" />
                </label>
                <label for="date">Due Date</label>
                <input id="date" type="date"  ng-model="goalsObj.goal_date"/>
        <button class="button button-block button-positive" ng-click="add();closeModal()">ADD</button>
        <button class="button  button-positive" ng-click="closeModal()">close</button>
        </ion-content>
</ion-modal-view>