<ion-modal-view>
        <ion-content>
                <label class="item item-input item-floating-label">
                        <input type="text" id="goal" placeholder="Edit Goals Here" ng-model="edit_goalObj.new_goal">
                        <input type="file" id="inputFile" ng-model="edit_goalObj.img_base64" />
                    </label>
                    <label for="date">Due Date</label>
                    <input id="date" type="date"  ng-model="edit_goalObj.goal_date"/>
            <button class="button button-block button-positive" ng-click="edit(goal_id)">Save</button>
            <button class="button  button-positive" ng-click="close_edit_modal()">close</button>
            </ion-content>
    </ion-modal-view>