<ion-view >
    <ion-nav-title>
        <img src="img/logo-header.png" alt="" height="25px" style="margin-top:12px;"/>
    </ion-nav-title>
  <ion-content class="shz-bg-shade" ng-init="get()"> 
        <ion-refresher on-refresh="doRefresh()">
                <ion-refresher-content>
                </ion-refresher-content>
              </ion-refresher>
    <ion-list>
            <ion-item class="card" style="box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.3);" ng-repeat="goal in goals ">
                
                
                 <div class=row>
                          
                          <p class="col" style="color: #0066cb"><i>Due Date : {{goal.due_date}}</i></p>
                         <div style="text-align: right">
                             <a  href="{{url}}/myproject/download.php?nama={{goal.file_url}}" class="col shz-clear-link" style="color: #0066cb; overflow:hidden; max-width:10ch;"><img src="img/file-pdf-icon.png" width="18" height="20" alt="error" > {{goal.file_name}} </a>
                            
                          </div>
                   </div>
                <div class=row>
                        <div class="shz-half-description shz-clear-link" >
                            <h3 style="white-space: initial;"><a class="shz-clear-link shz-gray-color" >
                              <span style="color: #0066cb;">Goal {{$index+1}}:</span>
                               {{goal.goals}} </a>
                               </h3>
                        </div>
                  </div>
                 <div class="shz-separator"></div>
                <div class=row>
                          <div class="col" style="text-align: left;" ng-show="completed || goal.complete=='1'">
                           <p style="color: #1fb12a; float: left; " >Completed Date : {{goal.completed_date}}</p>
                                </div>
                                <div class="col" style="text-align: left;" ng-hide="completed || goal.complete=='1'">
                                  <p style="color: #999;; float: left; " >Completed Date : {{goal.completed_date}}</p>
                                       </div>      
                          <!--div class="col" style="text-align: left;">
                           <p  style="color: #999;" > {{goal.edited_date}}</p>
                        </div-->
                        <div class="col shz-right-margin" style="text-align: right;">
                            <img class="shz-right-margin" ng-click="open_edit_modal(goal.id,goal.due_date,goal.goals)" src="img/edit_icon.png"/ width="20px">  
                             <label class="shz-container">
                                 <input  type="checkbox" name="CompletedDate" ng-click="confirm_(goal.id)"  ng-model="completed"  ng-disabled="goal.complete=='1'" />
                                                            
                                <span class="shz-checkmark"></span>
                             </label>
      
                          </div>
                         <!-- <div class="col" style="text-align: right;">
                            <img ng-click="open_edit_modal(goal.id,goal.goals,goal.due_date)" src="img/edit_icon.png"/ width="20px">  
                              <input type="checkbox" ng-model="completed" ng-disabled="goal.complete=='1' || completed " ng-click="update(goal.id)"/>
                             
                          </div> -->
                  </div>
                </ion-item>
       </ion-list>
                <!--
                {{goal.goals}}
                <a href="{{url}}/myproject/download.php?nama={{goal.file_url}}">
                  {{goal.file_name}}</a>
    <!-- <a><img src="{{url}}/myproject/download.php?nama={{goal.file_url}}" width="40" height="40" alt=""></a> 
    <br>
                DueDate:{{goal.due_date}}<br>
                EditedDate:{{goal.edited_date}}<br>
                CompletedDate:{{goal.completed_date}} -->

          
  
            <!-- <label class="item item-input item-floating-label">
                <input type="text" id="goal" placeholder="Add Goals Here" ng-model="new_goal">
                <input type="file" id="inputFile" ng-model="files" />
            </label>
            <label for="date">Due Date</label>
            <input id="date" type="date"  ng-model="date"/> -->
  
      
<center>
<button class="button  button-positive" ng-click="openModal()">ADD</button>
</center>
  </ion-content>
</ion-view>     
     