     <ion-view title="Goals">
        <ion-content ng-init="get()"> 
          <ion-list>
                  <ion-item ng-repeat="goal in goals ">
                      {{goal.goals}}
                      <a href="{{url}}/myproject/download.php?nama={{goal.file_url}}">
                        {{goal.file_name}}</a>
          <!-- <a><img src="{{url}}/myproject/download.php?nama={{goal.file_url}}" width="40" height="40" alt=""></a> -->
          <br>
                      DueDate:{{goal.due_date}}<br>
                      EditedDate:{{goal.edited_date}}<br>
                      CompletedDate:{{goal.completed_date}}

                  </ion-item>
          </ion-list>
                  <!-- <label class="item item-input item-floating-label">
                      <input type="text" id="goal" placeholder="Add Goals Here" ng-model="new_goal">
                      <input type="file" id="inputFile" ng-model="files" />
                  </label>
                  <label for="date">Due Date</label>
                  <input id="date" type="date"  ng-model="date"/> -->
        

          <button class="button button-block button-positive" ng-click="openModal()">ADD</button>
        </ion-content>
      </ion-view>