<ion-view title="Interactions" >
    <ion-content class="shz-bg-shade" ng-init="getschedules()">



            <ion-refresher on-refresh="Interaction_Refresh()">
                    <ion-refresher-content>
                    </ion-refresher-content>
                  </ion-refresher>


            <ion-list >
               <ion-item class="card" style="box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.3);" ng-repeat="schedule in schedules track by $index">
                 
                   <div class=row>
                            
                            <p class="col shz-text-italic shz-text-capitalize" style="color: #0066cb"><i>By: {{schedule.added_by}}</i></p>
                            <div style="text-align: left" ng-show="schedule.meeting_type == 'audio'">
                                    <a   class="col shz-clear-link" style="color: #0066cb"><img src="img/audio-icon.png" width="18" height="20" alt="error" > Audio </a>
                                 </div>
                                 <div style="text-align: left" ng-show="schedule.meeting_type == 'video'">
                                    <a   class="col shz-clear-link" style="color: #0066cb"><img src="img/video-icon.png" width="18" height="20" alt="error" > Video </a>
                                 </div>
                               <div style="text-align: right" id="duration" >
                                   <a   class="col shz-clear-link" style="color: #0066cb"><img src="img/timer-icon.png" width="18" height="20" alt="error">{{duration(schedule.start_time,schedule.end_time)}}mins</a>
                                </div>
                     </div>
                   
                     <div class=row>
                          <div class="shz-half-description shz-clear-link" >
                              <h3 style="white-space: initial;"><a class="shz-clear-link shz-gray-color" href="#/app/interaction_comments/{{schedule.id}}">{{schedule.comment}} </a>
                                 </h3>
                          </div>
                    </div>
                   
                   <div class="shz-separator"></div>
               <div class=row>
                            <div class="col shz-text-italic" style="text-align: left;" ng-show="schedule.complete=='1' ">
                             <p style="color: #1fb12a; float: left; " >Completed On: {{schedule.completed_date}} <br/><span style="color: #999;" >Scheduled On: {{schedule.date}}</span></p>
                                  </div>
                            <div class="col shz-text-italic" style="text-align: left;" ng-hide="schedule.complete=='1' ">
                                <p style="color: #999; float: left; " >Completed On: {{schedule.completed_date}} <br/><span style="color: #999;" >Scheduled On: {{schedule.date}}</span></p>
                                        </div>
                            

                        <div class="col shz-right-margin" style="text-align: right;">
                                <img class="shz-right-margin"  width="20px"> 
                            <label class="shz-container">
                                <input  type="checkbox" name="CompletedDate" ng-model="completed" ng-disabled="schedule.complete=='1' || completed " ng-click="interaction_update(schedule.id)"/>                                
                            <span class="shz-checkmark"></span>
                            </label>
                        </div>
                         <!-- <div class="col" style="text-align: right;">
                            <input type="checkbox" name="CompletedDate" ng-model="completed" ng-disabled="schedule.complete=='1' || completed " ng-click="interaction_update(schedule.id)"/>
                              
                            </div> -->
                        </div>
                   
                   
                   
                   <!--<a href="#/app/interaction_comments/{{schedule.id}}">      
                    <h2>{{schedule.comment}}</h2><br>
                    Date:{{schedule.date}}<br>
                   StartTime: {{schedule.start_time}}<br>
                    EndTime:{{schedule.end_time}}
                  </a>-->
                </ion-item>
                </ion-list>
                <center> 
    <button class="button button-positive" ng-click="openModal_interactions()">Add Interaction</button>
                  </center>
    </ion-content>
</ion-view>






<!-- <ion-view title="Interactions">
        <ion-content ng-init="getschedules()">
         <h1> {{mentee_id}}</h1>
                <ion-list>
                   <ion-item ng-repeat="schedule in schedules track by $index">
                     <a href="#/app/interaction_comments/{{schedule.id}}">      
                        <h2>{{schedule.comment}}</h2><br>
                        Date:{{schedule.date}}<br>
                       StartTime: {{schedule.start_time}}<br>
                        EndTime:{{schedule.end_time}}
                      </a>
                    </ion-item>
                    </ion-list>
                    <center> 
        <button class="button button-positive" ng-click="openModal_interactions()">Add Interaction</button>
                      </center>
        </ion-content>
</ion-view> -->
