<ion-view title="Interactions">
        <ion-content ng-init="getschedules()">
         <h1> {{mentee_id}}</h1>
                <ion-list>
                   <ion-item ng-repeat="schedule in schedules track by $index">
                     <a href="#/app/interaction_comments/{{schedule.id}}">      
                        <h2>{{schedule.comment}}</h2><br>
                        Date:{{schedule.date}}<br>
                       StartTime: {{schedule.start_time}}<br>
                        EndTime:{{schedule.end_time}}
                      </a>
                    </ion-item>
                    </ion-list>
                    <center> 
        <button class="button button-positive" ng-click="openModal_interactions()">Add Interaction</button>
                      </center>
        </ion-content>
</ion-view>
