<ion-view title="Learning Goals">
        <ion-content class="shz-bg-shade" ng-init="getgoals()">
                <ion-list>
                        <ion-item class="card" style="box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.3);" ng-repeat="goal in goals">
                         <div class=row>
                                
                                <p class="col" style="color: #0066cb"><i>Due Date:{{goal.due_date}}</i></p>
                               <div style="text-align: right">
                                   <a  href="{{url}}/myproject/download.php?nama={{goal.file_url}}" class="col" style="color: #0066cb">{{goal.file_name}}
                                     <img src="img/file-pdf-icon.png" width="18" height="20" alt="error" > </a>
                                </div>
                         </div>
                          
                        <div class=row>
                              <div class="shz-half-description" >
                                     <h3 style="white-space: initial;"><a class="shz-gray-color shz-clear-link" href="#/app/goal_comments/{{goal.id}}">{{goal.goals}} </a>
                                     </h3>
                              </div>
                        </div>
        
                          <div class="shz-separator">
                            
                            </div>
                          <div class=row>
                                <div class="col" style="text-align: left;">
                                <p style="color: #1fb12a; float: left; " >Completion Date:{{goal.completed_date}}  </p>
                                 <p  style="color: #999;" >Last Edited: {{goal.edited_date}} </p>
                                </div>
                               <div class="col" style="text-align: right;">
                                   <a><img src="img/edit_icon.png" width="20" height="20" alt="error"></a>    
                                   <a style="margin-left: 15px;"><img src="img/completion-icon.png" width="20" height="20" alt="error"></a>
                                </div>
                            </div>
                          </ion-item>
                        </ion-list>
<!--                   <a href="#/app/goal_comments/{{goal.id}}">{{goal.goals}} </a> -->
                      <!-- <a href="{{url}}/myproject/download.php?nama={{goal.file_url}}">
                        {{goal.file_name}}</a> -->
                      <!-- <a><img src="{{url}}/myproject/download.php?nama={{goal.file_url}}" width="40" height="40" alt="error"></a>          -->
<!--                       <br>due_date:{{goal.due_date}}<br> -->
<!--                       edited_date:{{goal.edited_date}}<br> -->
<!--                       completed_date:{{goal.completed_date}} -->
                           
                
                  <!-- <label class="item item-input item-floating-label">
                        <input type="text" id="goal" placeholder="Add Goal Here"   ng-model="new_goal">
                        <input type="file" id="inputFile"  ng-model="files">
                      </label>
                <button class="button button-block button-positive" ng-click="addgoal(new_goal,files)">Add Goal</button> -->
                <button  style="width: 60%;margin: auto;" class="button button-block button-positive" ng-click="openModal()">Add Goal</button>
                <ion-list>
        </ion-content>
</ion-view>
