<ion-view title="MenteeInteractions">
    <ion-content ng-init="getschedules()">
            <ion-list>
               <ion-item ng-repeat="schedule in schedules track by $index">
                 <a href="#/app/interaction_comments/{{schedule.id}}">      
                     <h3>   {{schedule.comment}}</h3><br>
                        {{schedule.date}}<br>
                        {{schedule.start_time}}<br>
                        {{schedule.end_time}}
                  </a>
                </ion-item>
                </ion-list>
    </ion-content>
</ion-view>