<ion-view class="shz-bg-shade" >
        <ion-nav-title>
            <img src="img/logo-header.png" alt="" height="25px" style="margin-top:12px;"/>
        </ion-nav-title>
      <ion-content>
            <ion-refresher on-refresh="doRefresh_mentorForum()">
                    <ion-refresher-content>
                    </ion-refresher-content>
                  </ion-refresher>




            <ion-list ng-init="get_discussions_mentorforum()">
                    <ion-item class="card" style="box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.3);padding:15px; margin-bottom: 0px !important;" ng-repeat="discussion in discussions track by $index">
                                    <div class="shz-half-description shz-clear-link"style="padding-left:0px;" >
                                        <h3 style="white-space: initial;"><a class="shz-clear-link shz-gray-color" >
                                                <a class="shz-clear-link shz-list-title" ui-sref="app.mentor_forum_comments({id:discussion.id})"> {{discussion.discussion_text}} </a> <br/><br/>
                                           </h3>
                                    </div>
                      
                           <h3 class="shz-text-capitalize">Started By:  {{discussion.started_by}}</h3>
                           <h3 class="shz-text-capitalize">Posted Date: {{discussion.date}}</h3>
                             
                           </ion-item>
            </ion-list>
            <center>
                    <ion-item class="card" style="box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.3); margin-bottom: 0px !important;">
                           
                           
                            <textarea style=" height: 60px; width: 94%;resize: none; margin-top: 5px;margin-left: 1px;"type="text" id="goal" placeholder="Type your text" ng-model="reportObj.text"></textarea>
                       
                </ion-item>
                <br/>
                <button class="button  button-positive" ng-click="add_discussion_mentorforum()">New Thread</button>
            </center>
      </ion-content>
  </ion-view>