<ion-view title="Tasks">
        <ion-content class="shz-bg-shade">
            
             <ion-item  class=" card item item-remove-animate  item-icon-right" type="item-text-wrap"  style="box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.3);">
                <div class=row>
                        <div class="">
                            <img src="img/logo.png" class="profile" width="75px" height="75px" style="border: 6px solid white;border-radius: 50%;"/>
                             <!--<img class="profile" width="100px" height="100px" style="border: 8px solid white;border-radius: 50%;" ng-click="editUser()" src="images/logo.png" ng-show="!userinfojson.image || userinfojson.image=='' || userinfojson.image==null"> -->
                        </div>
                            <div class="shz-full-description shz-clear-link" style="padding: 5px; margin-top: 20px" >
                                <h3>{{mentee_id}}</h3>
                                <h3 style="white-space: initial;"><a class="shz-clear-link shz-gray-color">{{mentee_name}}</a>
                                </h3>
                                <h3 style="white-space: initial;"><a class="shz-clear-link shz-gray-color">{{mentee_address}}</a>
                                </h3>
                            </div>
                        </div>    
                </ion-item>
            
            
            
            
            <ion-list ng-init="gettasks()">
                                <ion-item class="card" style="box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.3);" ng-repeat="menteetask in menteetasks track by $index">
                                     <div class=row>
                                        <p class="col" style="color: #0066cb"><i>Due Date:{{menteetask.due_date}}</i></p>
                                       <div style="text-align: right">
                                           <a  href="{{url}}/myproject/download.php?nama={{menteetask.file_url}}" class="col shz-clear-link" style="color: #0066cb"><img src="img/file-pdf-icon.png" width="18" height="20" alt="error" > {{menteetask.file_name}} </a>
                                        </div>
                                    </div>
                                    <div class=row>
                                      <div class="shz-half-description shz-clear-link" >
                                          <h3 style="white-space: initial;"><a class="shz-clear-link shz-gray-color" 
                                                 href="#/app/menteetask_comments/{{menteetask.id}}/{{menteetask.tasks}}">
                                                <span style="color: #0066cb;">Task {{menteetask.id}}:</span>  {{menteetask.tasks}}</a>
                                             </h3>
                                      </div>
                                    </div>
                                    <div class="shz-separator"></div>
                                    
                                    <div class=row>
                                        <div class="col" style="text-align: left;">
                                         <p style="color: #1fb12a; float: left; " >{{menteetask.completed_date}}</p>
                                              </div>
                                        <div class="col" style="text-align: left;">
                                         <p  style="color: #999;" >  {{menteetask.edited_date}} </p>
                                      </div>
                                      
                                       <div class="col" style="text-align: right;">
                                          <img ng-click="open_edit_modal_mentee_tasks(menteetask.id)" src="img/edit_icon.png"/ width="20px">  
                                           <a style="margin-left: 15px;"><img ng-src="{{completeImg}}" ng-click="changeCompleteImg(menteetask.id);" width="20" height="20" alt="error"></a>
                                        </div>
                                    </div>
                                    <!-- <a><img src="{{url}}/myproject/download.php?nama={{task.file_url}}" width="40" height="40" alt="error"></a> -->
                                   
                                    
                                 </ion-item>
                    </ion-list>
                                                
                                                   
                                        <center>    
                                                <button class="button  button-positive" ng-click="opentaskModel()">AddTask</button>
                                        </center>
        </ion-content>
        </ion-view>













<!-- <ion-view title="Tasks">
<ion-content>
                <center>
                <h5>
                        id:  {{mentee_id}}
                </h5>
                <h5>
                        name:  {{mentee_name}}
                </h5>
                <h5>
                address:{{mentee_address}}
                </h5>
                </center>
        <ion-list  ng-init="gettasks()">
                <ion-item ng-repeat="menteetask in menteetasks track by $index">
                        <a href="#/app/menteetask_comments/{{menteetask.id}}/{{menteetask.tasks}}"> {{menteetask.tasks}}  </a>
                        <a href="{{url}}/myproject/download.php?nama={{menteetask.file_url}}">
                                {{menteetask.file_name}}</a> -->
                        <!-- <a><img src="{{url}}/myproject/download.php?nama={{menteetask.file_url}}" width="40" height="40" alt="error"></a> -->
                        <!-- <br>
                        due_date:{{menteetask.due_date}}<br>
                        edited_date:{{menteetask.edited_date}}<br>
                        completed_date:{{menteetask.completed_date}}<br>
                </ion-item>
        </ion-list> -->
        <!-- <label class="item item-input item-floating-label">
                <input type="text" id="task" placeholder="Add Task Here"   ng-model="new_task">
                <input type="file" id="inputFile" ng-model="files">
        </label>
        <label for="date">Due Date</label>
        <input id="date" type="date"  ng-model="date"/>
 <button class="button button-block button-positive" ng-click="addtask(new_task,files,date)">AddTask</button> -->
 <!-- <button class="button  button-positive" ng-click="opentaskModel()">AddTask</button>
</ion-content>
</ion-view> -->