<ion-view title="Messages">
    <ion-content class="shz-bg-shade" ng-init="initial()">
        <ion-refresher on-refresh="Refresh_Messages()">
            <ion-refresher-content>
            </ion-refresher-content>
        </ion-refresher>

        <ion-list>
            <ion-item  style="padding:5px !important;" class="shz-bg-shade" ng-repeat="message in messages | orderBy:'posted_time' ">
               
                    <h3 id="this" ng-class="{'shz-sender-msg': message.sender_id == phone_no }" class="card shz-reciever-msg shz-full-description" style="white-space: initial;font-size: 16px; font-weight: 300;">
                        {{message.message}} asdklfj kldjfkld flif ldkfjlefikdf kdfilef ildflie lifel dlfief dlfief kldfie kdfkd dkfjkiel fdliel dkfje idnf difjel dkfjient idffekt ldfint kdjfie 123
                    </h3>
        
               
                <p class="shz-text-italic" style="margin-bottom: 5px; text-align: center;">{{message.posted_time}} </p>

            </ion-item>

        </ion-list>



        <ion-item class="card" style="box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.3); margin-bottom: 0px !important; display: flex">
            <textarea style=" min-height:50px; width: 94%;resize: none; margin-top: 5px;margin-left: 1px;" type="text" id="" placeholder="Enter your text" ng-model="msgObj.text"></textarea>

            <button class=" shz-send-button" ng-click="send_message(reciever_id,reciever_name)"></button>

        </ion-item>

        <br/>

    </ion-content>
</ion-view>