<ion-view class="shz-bg-shade" title="Open Forum" >
    
  <ion-content ng-hide=hidepage>


        <ion-refresher on-refresh="doRefresh_openForum()">
                <ion-refresher-content>
                </ion-refresher-content>
              </ion-refresher>

    
        <ion-list ng-init="get_discussions_openforum()">

                <ion-item class="card" style="box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.3);padding:15px; margin-bottom: 0px !important;" ng-repeat="discussion in discussions track by $index">
                        <div class="shz-full-description shz-clear-link"style="padding-left:0px;" >
                            <h3 style="white-space: initial;"><a class="shz-clear-link shz-gray-color" >
                                    <a class="shz-clear-link shz-list-title " style="color:gray;"ui-sref="app.open_forum_comments({id:discussion.id})"> {{discussion.discussion_text}} </a> <br/><br/>
                               </h3>
                        </div>
                        <div class="shz-separator"></div><br/>
               <h3 class="shz-text-capitalize shz-text-italic"  style="color:#0066cb;" >Started By:  {{discussion.started_by}}</h3>
               <h3 class="shz-text-capitalize shz-text-italic" style="color:green">Posted Date: {{discussion.date}}</h3>
                 
               </ion-item>


        </ion-list>
       
        <center>
                <ion-item class="card" style="box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.3); margin-bottom: 0px !important;">
                           
                           
                        <textarea style=" height: 60px; width: 94%;resize: none; margin-top: 5px;margin-left: 1px;"type="text"  placeholder="Type your text" ng-model="discussionObj.text"></textarea>
                   
            </ion-item>
            <br/>




            <button class="button  button-positive" ng-click="add_discussion_openforum()">New Thread</button>
        </center>
  </ion-content>
</ion-view>