<ion-view title="Profile" >
    <ion-content  class="shz-bg-shade" >

            <ion-refresher on-refresh="refresh_profile()">
                    <ion-refresher-content>
                    </ion-refresher-content>
                  </ion-refresher>



        <ion-list ng-init="profile()">
            <ion-item class="card" style="box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.3);" >
                
                <br>
              
            <div class="item-text-wrap screen-center" >
                <div class="">
                    <center>
                    <img src="img/logo.png" class="profile" width="85px" height="85px" style="border: 6px solid white;border-radius: 50%;"/><br>
                    
                    </center>
                </div>
               
                <div class="row">
                    <div class="col">
                        <h3 class="shz-profile-title">Mobile: </h3>
                    </div>
                    <div class="col">
                        <h3 class="" style="text-align: right;">{{details.phone_no}}</h3>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <h3 class="shz-profile-title">First Name: </h3>
                    </div>
                    <div class="col">
                        <h3 class="shz-text-capitalize" style="text-align: right;">{{details.name}}</h3>
                    </div>
                </div>
                
                
                 <div class="row">
                    <div class="col">
                        <h3 class="shz-profile-title">Last Name: </h3>
                    </div>
                    <div class="col">
                        <h3 class="shz-text-capitalize" style="text-align: right;">{{details.name}}</h3>
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col">
                        <h3 class="shz-profile-title">Password: </h3>
                    </div>
                    <div class="col" style="text-align: right;">
                        <input style="text-align: right;" class="shz-bg-input" type="password" id="password"  ng-readonly=editable ng-model="details.password">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <h3 class="shz-profile-title" >Location: </h3>
                    </div>
                    <div class="col" >
                        <h3 class="shz-text-capitalize" style="text-align: right;">{{details.location}}</h3>
                    </div>
                </div>
                
                
               
                <div class="shz-separator"></div>
                
                  <div class="row">
                      <div class="col" style="text-align: right">
                 <img class="shz-right-margin" ng-click="edit_profile()" src="img/edit_icon.png"/ width="20px">  
                     </div>
                    </div>
                
                
                <div class="row">
                    <div class="col-40">
                        <h3 class="shz-profile-title" style="padding-top: 5px;">Hobbies: </h3>
                    </div>
                    <div class="col">
                         <textarea style=" height: 40px; width: 94%;resize: none;" type="text" id="hobbies"  ng-readonly="editable" ng-model="details.hobbies"></textarea>
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-40">
                        <h3 class="shz-profile-title" style="padding-top: 5px;">Likes: </h3>
                    </div>
                    <div class="col">
                       
                         
                             <textarea style=" height: 40px; width: 94%;resize: none;" type="text" id="likes"  ng-readonly="editable" ng-model="details.likes"></textarea>
                    
                 
                   
                    </div>
                    
                  
                </div>
                
                
                
                
                <div class="row">
                    <div class="col-40">
                        <h3 class="shz-profile-title" style="padding-top: 5px;">Dislikes: </h3>
                    </div>
                    <div class="col">
                       
                      
                       
                         <textarea style=" height: 40px; width: 94%;resize: none;" type="text" id="dislikes"  ng-readonly="editable" ng-model="details.dislikes"></textarea>
                 
                        
                    </div>
                    
                </div>
                
                
                <div class="row">
                    <div class="col-40">
                        <h3 class="shz-profile-title" style="padding-top: 5px;">Interests: </h3>
                    </div>
                    <div class="col">
                       
                         <textarea style=" height: 40px; width: 94%;resize: none;" type="text" id="interests"  ng-readonly="editable" ng-model="details.interests"></textarea>
                  
                    </div>
                    
                    
                </div>
                
                
                <div class="row">
                    <div class="col-40">
                        <h3 class="shz-profile-title" style="padding-top: 5px;">About Me: </h3>
                    </div>
                    <div class="col">
                       
                         <textarea style=" height: 40px; width: 94%;resize: none;" type="text" id="aboutme"  ng-readonly="editable" ng-model="details.about_me"></textarea>
                   
                         
                    </div>
                   
                </div>
                
                
                <center>
                    <button class="button button-positive" ng-click="update_profile(details.password,details.hobbies,details.likes,details.dislikes,details.interests,details.about_me)">
                    Update</button>
        
                </center>
                <br/>
            </div> 
         
               
            </ion-item>
            
        </ion-list>
        
        
    </ion-content>
</ion-view>