<ion-view class="shz-bg-shade" title="Report & Abuse">
        <ion-content>
            

               



                    <ion-item class="card" style="box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.3); margin-bottom: 0px !important;">
                      <textarea style=" height: 120px; width: 94%;resize: none; margin-top: 5px;margin-left: 1px;"type="text" id="goal" placeholder="Type your text" ng-model="reportObj.text"></textarea>
                    </ion-item>

            
            <div class="shz-separator" ></div><br/>
              <center>
            <button class="button  button-positive" ng-click="report()">Report</button>
            </center>
           </ion-content>
    </ion-view>